*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.register {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/bgs/bg2.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.CreateAccount {
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 800;
    text-align: left;
    margin-bottom: 0px;
}
.RegBox{
      height: 62%;
      width: 60%;
      padding: 50px;
      background-color: white;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.157);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
      backdrop-filter: blur( 10px );
      -webkit-backdrop-filter: blur( 10px );
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      display: flex;
  }
  .Reg-left{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
  }
  .Reg-right{
    width: 50%;
    height: 100%;
}
.Reg-form{
    margin-top: 0%;
    display: flex;
    flex-direction: column;
}
.Reg-names{
    display: flex;
}
.form-field-reg{
    display: flex;
    flex-direction: column;
    padding: 1.2%;
}
.form-btns{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.login-btn{
    display: flex;
    flex-direction: column;
    width: 60%;
   
}
.RegInput{
      height: 35px;
      width: 45%;
      border-radius: 40px;
      background-color: #ef37a53d;
      font-size: 15px;
      border: none;
      outline: none;
      font-family: poppins;
      font-weight: 200;
      color: #fff;
      margin: 3px;
      padding-left: 10px;
      transition: 0.2s all;
      
  }
  .RegInput::placeholder{
    color: rgba(255, 255, 255, 0.356);
  }
  .RegInput1:hover, .RegInput:hover{
    background-color: #ff009957;
  }
.RegInput1
{
    height: 35px;
      width: 81%;
      color: #fff;
      border-radius: 40px;
      background-color: #ef37a53d;
      font-size: 15px;
      border: none;
      outline: none;
      font-family: poppins;
      font-weight: 300;
      margin: 3px;
      padding-left: 20px;
      padding-left: 10px;
      transition: 0.2s all;
}
.RegInput1::placeholder{
    color: rgba(255, 255, 255, 0.356);
}
.Reg-names .RegInput{
      width:100%;
}
.RegInput,.RegInput1:focus{
      outline: none;
  }
 .vroCode{
      text-align: right;
      font-family: 'Bukhari Script', sans-serif;
      font-size: 40px;
      font-weight: 500;
      position: relative;
      top: 0px;
    
  }
.vector{
     margin-top: 10%;
     margin-left: 20%;
      height: 70%;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
}
  .SignUp{
      height: 100%;
      border-radius: 50px;
      border: none;
      background-color: #1E3163;
      color: white;
      font-size: 1.2rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      cursor: pointer;
      width: 30%;
      text-align: center;
      margin-right: 5%;
  }
  .loginButton{
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #1E3163;
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    width: 50%;
    text-align: center;
}
  .input-text{
      font-size: 15px;
      font-family: poppins;
      font-weight: 300;
  }