span.headingBM{
    font-weight: 700;
    font-size: 2.1rem;
}
.title-bm{
    margin-top: 50px;
    margin-left: 10%;
    min-height: calc(100vh - 85px);
    align-items: center;
    justify-content: center;
}
hr.BM-hr{
    margin-top: 20px;
    width: 50%;
    margin-bottom: 20px;
}
.leftbarIcon-bm{
    transform: scale(1.5);
}
.feedBookmark{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}