
.chatBody{
  overflow: hidden;
}
.messenger {
    height: 100vh;
    overflow: hidden;
    display: flex;
   
  }

  /* .chatSidebar {
    background-color: white;
    flex: 2.5;
    padding: 5px;
  } */
  .chatHeadBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    transition: 0.2s;
    padding: 20px;
    position: fixed;
    border-radius: 0 0 20px 20px;
    width: 78%;
    top: -5px;
    }
    .profileImgChatBox{
      position: relative;
      top: 25px;
      left: -20px;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
  
    .conversation2 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      height: 80px;
      text-align: center;
      font-size: 1.6rem;
      margin-left: 30px;
      width: 84%;
      font-family: 'Bukhari Script';
      color: #fff;
      cursor: pointer;
      margin-top: 20px;
      background-color: #3b3b3b;
      background: rgba( 255, 255, 255, 0.2 );
      box-shadow: 0 8px 32px 0 rgba(80, 53, 56, 0.37);
      backdrop-filter: blur( 6px );
      -webkit-backdrop-filter: blur( 6px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      border-radius: 20px;
      transition: 0.5s;
    }
    
    .conversation2:hover {
      background-color: rgb(78, 78, 78);
    }
  .chatBoxUsername{
    color: #fff;
    opacity: 0.5;
    font-size: 0.8rem;
  }
  .chatBoxName{
    color: #fff;
    font-weight: 600;

  }
  .chatHead{
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  .chatMenu {
    background-color: #111;
    flex: 3;
    padding: 5px;
  }
  
  /* .chatMenuInput {
    top: 10px;
    width: 100%;
    padding: 20px;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 10px 10px 10px 10px;
  } */
  
  .chatBox {
    background-color: #f1f4f6;
    flex: 12;

    overflow: hidden;
   
  }
  
  .chatBoxWrapper {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    height: 91%;
  }
  
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-right: 10px;
    padding-top: 100px;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f4f6;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .chatBoxBottom {
 

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

  }
  
  .chatMessageInput {
    resize: none;
    width: 1000px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 1.15rem;
    background: #e0e0e0;
    box-shadow: inset -5px 5px 10px #b4b4b4,
                inset 5px -5px 10px #ffffff;
  }
  .chatMessageInput:focus{
    outline: 2px solid rgb(134, 134, 134);
  }
  
  .chatSubmitButton {
    margin-top: 20px;
    width: 100px;
    font-size: 1.3rem;
    height: 60px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color:#111;
    color: white;
    transition: 0.4s;
  }
  
  .chatOnline {
    flex: 2;
  }

  .emptyConvo{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
  
  .chatMenuWrapper{
    padding: 0 30px 0 30px;
  }


  .chatOnlineWrapper {
    /* padding: 10px; */
    /* background-color: #231f20; */
   
  }
  .emptyImg{
    width: 30%;
  }
  .noConversationText {
    font-size: 50px;
    margin-top: 100px;
    color: #b4b4b4;
    cursor: default;
  }
  
  @media screen and (max-width: 768px) {
    .chatMenu {
      flex: 1;
      display: none;
    }
    .noConversationText{
      font-size: 2rem;
    }
  
    .chatMenuInput {
      display: none;
    }
  
    .chatBox{
      flex: 10;
     
    }
  
    /* .chatOnline{
      flex: 1px;
    } */
  }
  


