
/*@font-face {
    font-family: poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800;900&display=swap');
    
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.eye{
    cursor: pointer;
    position: relative;
    left: -30px;
}
.login {
    width: 100vw;
    height: 100vh;
    background-image: url(images/login-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loginLogo {

    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-align: left;
    margin-bottom: 75px;
    
    
  }
  
  .loginBox{
      height: 60%;
      width: 60%;
      padding: 50px;
      background-color: white;
      border-radius: 20px;
      background: rgba( 255, 255, 255, 0.45 );
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
      backdrop-filter: blur( 10px );
      -webkit-backdrop-filter: blur( 5px );
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      display: flex;
  }

  .login-left{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
  }

  .login-right{
    width: 50%;
    height: 100%;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-names{
    display: flex;
}

.form-field{
    
    display: flex;
    flex-direction: column;
    padding: 1.2%;
}

.form-btns{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.login-btn{
    display: flex;
    flex-direction: column;
    width: 60%;
   
}
  
  .loginInput{
      height: 35px;
      width: 50%;
      border-radius: 10px;
      border: 1px solid #1E3163;
      font-size: 15px;
      font-family: poppins;
      font-weight: 200;
      margin: 3px;
      padding-left: 10px;
  }


  .login-names .loginInput{
      width:100%;
      
     
  }
  
  .loginInput:focus{
      outline: none;
  }


  .vroCode{
      text-align: right;
      font-family: 'Bukhari Script', sans-serif;
      font-size: 60px;
      font-weight: 500;
      position: relative;
      top: 0px;
    
  }

  
  .alreadyMember{
      margin-top: 2%;
      text-align: center;
      color: #1E3163;
      font-family: poppins;
      font-weight: 200;
      font-size: 80%;
  }
 .vector{
     margin-top: 5%;
     margin-left: 20%;
      height: 70%;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;

      
  }
  .SignUp{
      height: 50px;
      border-radius: 50px;
      border: none;
      background-color: #1E3163;
      color: white;
      font-size: 1.2rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      cursor: pointer;
      width: 30%;
      text-align: center;
      margin-right: 5%;
      transition: 0.5s;
  }
  .SignUp:hover{
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #410075;
    color: white;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    width: 30%;
    text-align: center;
    margin-right: 5%;
}
  .loginButton{
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #1E3163;
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    width: 50%;
    text-align: center;
    transition: 0.5s;
    
}
.loginButton:hover{
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #410075;
    color: white;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    width: 50%;
    text-align: center;
    
}


  
  .input-text{
      font-size: 15px;
      font-family: poppins;
      font-weight: 300;
  }
  .title-read{
      display: flex;
      flex-direction: row;
      column-gap: 10%;
      margin-left: 2%;
      justify-content:flex-start;
  }
  .forgot-pass{
    margin-top: 2%;
    text-align: center;
    color: #1E3163;
    font-family: poppins;
    font-weight: 200;
    font-size: 80%;
    cursor: pointer;
    margin-left: 10px;
  }
  .NewMember{
    margin-top: 2%;
    text-align: center;
    color: #1E3163;
    font-family: poppins;
    font-weight: 200;
    font-size: 80%;
    margin-left: 20px;
   
  }