
@font-face {
    font-family: poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login {
    width: 100vw;
    height: 100vh;
    background-image: url(images/login-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loginLogo {

    font-size: 2rem;
    font-family: poppins-bold;
    font-weight: 900;
    text-align: left;
    margin-bottom: 20px;
    
  }
  
  .loginBox{
      height: 60%;
      width: 60%;
      padding: 50px;
      background-color: white;
      border-radius: 20px;
      background: rgba( 255, 255, 255, 0.45 );
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
      backdrop-filter: blur( 10px );
      -webkit-backdrop-filter: blur( 5px );
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      display: flex;
  }

  .login-left{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
  }

  .login-right{
    width: 50%;
    height: 100%;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-names{
    display: flex;
}

.form-field{
    display: flex;
    flex-direction: column;
}

.form-btns{
    display: flex;
    flex-direction: row;
    margin-top: 15%;
}

.login-btn{
    display: flex;
    flex-direction: column;
    width: 60%;
}
  
  .loginInput{
      height: 35px;
      width: 45%;
      border-radius: 10px;
      border: 1px solid #1E3163;
      font-size: 15px;
      font-family: poppins;
      font-weight: normal;
      margin: 3px;
      padding-left: 10px;
  }

  .login-names .loginInput{
      width:90%;
  }
  
  .loginInput:focus{
      outline: none;
  }


  .vroCode{
      text-align: right;
      font-family: bukhari ;
      font-size: 40px;
      font-weight: 500;
      position: relative;
      top: 0px;
    
  }
  .loginButton{
      height: 50px;
      border-radius: 50px;
      border: none;
      background-color: #1E3163;
      color: white;
      font-size: 20px;
      font-family: poppins;
      font-weight: 700;
      cursor: pointer;
      width: 80%;
      text-align: center;
  }
  
  .alreadyMember{
      text-align: center;
      color: #1E3163;
      font-family: poppins;
      font-weight: 500;
  }
  
  .SignUp{
      height: 75%;
      border-radius: 50px;
      border: none;
      background-color: #1E3163;
      color: white;
      font-size: 20px;
      font-family: poppins;
      font-weight: 700;
      cursor: pointer;
      width: 50%;
      text-align: center;
      margin-right: 5%;
  }


  
  .input-text{
      font-size: 20px;
      font-family: poppins;
      font-weight: 600;
  }