.topbar{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 5   vh;
    display: flex;
    background-color: gray;
}

.topbar-logo{
    flex: 3;
}

.topbar-search{
    flex: 5;
}

.topbar-right{
    flex: 4;
    display: flex;
}