.post {
  background-color: white;
  border-radius: 12px;
  
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  padding: 5%;
  margin: 2% 5%;
.postImageHome{
  width: 100%;
  padding-bottom: 20px;
  border-radius: 5px;
}
  .details {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .profilepic-container {
      flex: 1;
      width: 100%;
      padding: 1% 0%;
      border-radius: 50%;
      cursor: pointer;
    .profilepic {
        width: 75px;
        height: 75px;
        overflow: hidden;
        object-fit: cover;
        z-index: -1;
        border-radius: 50%;
      }
    }

    .details-text {
      flex: 10;
      margin-left: 2%;

      .Name {
        font-weight: bold;
        cursor: pointer;
        font-size: 1.1rem;
      }
      .username {
        cursor: pointer;
        font-size: 0.7rem;
        transition: 0.2s;
      }
   
      .postTitleContainer{
        display: flex;
        flex-direction: row;
        gap: 5px;
      
        align-items: center;
      }

      .postedon {
        font-weight: 50%;
        font-size: 0.7rem;
        color: gray;
      }
    }

    .savepost {
      cursor: pointer;
      flex: 1;
    }
  }

  .content {
    margin: 3% 0%;
  }

  .reactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    .react {
      flex: 11;
      vertical-align: middle;
      
    

      * {
        cursor: pointer;
        margin-right: 3%;
      }
    }
    .github {
      flex: 0.7;
      cursor: pointer;
    }
  }

  .putComment {
    margin-top: 30px;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    .profilepic-container {
      flex: 1;
      width: 2%;
      padding: 1% 0%;

      border-radius: 50%;
      cursor: pointer;
      .profilepic {
        width: 80%;
        height: 80%;
        overflow: hidden;
        z-index: -1;
        border-radius: 50%;
      }
    }
    .commentinput {
      flex: 11;
      margin: 0 2%;
      font-size: 1.2rem;
      border-radius: 20px;
      padding: 2%;
      height: auto;
      outline: none;
      border-width: 1px;
     
    }
    .commentinput[type="text"]{
      font-size:1rem;
    }
    .commentinput:focus{
      outline: none;
    }
    .commentinput::placeholder{
      font-size: 1rem;
    }
  }
  
  .othersComment {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    .writtenComment {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      .profilepic-container {
        flex: 1;
        .profilepic {
          width: 100%;
          height: 100%;
          overflow: hidden;
          z-index: -1;
          border-radius: 50%;
        }
      }
      .commentContent {
        flex: 10;
        margin-left: 2%;
        font-size: 0.3rem;
        background-color: rgb(226, 226, 226);
        padding: 5px;
      }
    }
  }
}
