*{
    margin: 0;
    padding: 0;
    
}

.followerHeading{
    margin: 0 0 20px 20px;
}

.leftbar-friends{
    margin-top: 80px;
    flex: 2;
    
}
.followBox{
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 20px;
    align-items: center;
}
.FriendsProfileInfo{
    display: flex;
    flex-direction: column;
}
.rightFriends{
    position: relative;
    margin: auto;


}
.buttonsFollow{
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding: 20px;
    margin-top: 1px;
    justify-content: center;
}
.followerFriends{
    text-decoration: none;
    color: #000000;
    padding: 20px;
    transition: 0.2s;
    font-weight: 600;
    font-size: 1.3rem;
}
.followerFriends:hover{
    box-shadow: 44px -3px 35px -7px rgba(0,0,0,0.27);
    -webkit-box-shadow: 44px -3px 35px -7px rgba(0,0,0,0.27);
    -moz-box-shadow: 44px -3px 35px -7px rgba(0,0,0,0.27);
}
.followingFriends{
    text-decoration: none;
    color: #000000;
    padding: 20px;
    transition: 0.2s;
    font-weight: 600;
    font-size: 1.3rem;
}
.followingFriends:hover{
box-shadow: -74px -3px 35px -7px rgba(0,0,0,0.27);
-webkit-box-shadow: -74px -3px 35px -7px rgba(0,0,0,0.27);
-moz-box-shadow: -74px -3px 35px -7px rgba(0,0,0,0.27);
}
.FriendsProfileName{
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
}
.personalFriendsNames{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
/* .followButtonFriends{
    padding: 8px 25px;
    border-radius: 20px;
    border: 2px solid #000000;
    color: #000000;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 10px 9px 25px -8px rgba(0,0,0,0.3);

} */
.flexContainerFriends{
    min-height: calc(100vh - 50px);
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    

}
.followButtonFriends:hover{
    background-color: #000000;
    color: #fff;

}
.FriendsProfilePicture{
    border-radius: 50%;
    object-fit:cover;
    object-position: center center;
    width: 100px;
    height: 100px;
    transition: 0.4s ease-in-out;
    cursor: pointer;

}
.friendList{
    width: 1000px;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
}



