.profile{
    display: flex;
}
.profileRight{
    flex: 8;
  
}

.profileCover{
    height: 320px;
    position: relative;
}
.profileCoverImg{
width: 100%;
height: 100%;
object-fit: cover;
}

.profileUserImg{
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left : 0;
    right : 0;
    margin: auto;
    top: 200px;
    border: 3px solid #fff;
}
.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.RankListProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.profileInfoName{
    font-size: 30px;
   
}
.leftContainerProfile{
    display: flex;
    flex-direction: column;
}

.profileInfoDesc{
    font-weight: 600;
    font-size: 1.2rem;
}
h4{
    font-weight: 800;

}
.profileRightBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Follow info*/
.followInformation{
    background-color: #fff;
    width: 40%;
    padding: 20px;
    position: relative;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}
.FollowItemList-profile{
    display: flex;
    flex-direction: column;

    margin-left: 35px;
}
.followers-title{
   
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 120%;
    color: #000;
    cursor: pointer;
    
}
.rankProfile{
 width: 25%;
}
.profileTitleProfile{
display: flex;
flex: row;

}
.rank-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 120%;
    color: #000;
    text-align: center;
}
.numberFollowers{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 100%;
    color: #000;
}
/* .edit-btn, .follow-btn{ */
.follow-button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.follow-btn{
    padding: 7px;
    width: 150px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #1E3163;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}
.follow-btn:hover{
    box-shadow: 10px 9px 25px -8px rgba(0,0,0,0.3);
    background-color: #6981bd;
  
}