@import url('http://fonts.cdnfonts.com/css/bukhari-script');
@font-face {
    font-family: poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  
}

*{
    margin: 0;
    padding: 0;
}
.login {
    width: 100vw;
    height: 100vh;
    background-image: url(images/login-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
  }
  
  .loginLeft,
  .loginRight {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .loginLogo {
    font-size: 30px;
    font-family: poppins;
    font-weight: 800;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .loginDesc {
    font-size: 24px;
  }
  
  .loginBox{
      height: 400px;
      width: 900px;
      padding: 50px;
      background-color: white;
      border-radius: 20px;
      background: rgba( 255, 255, 255, 0.45 );
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
      backdrop-filter: blur( 10px );
      -webkit-backdrop-filter: blur( 5px );
      border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  .loginInput{
      height: 50px;
      border-radius: 10px;
      border: 1px solid #1E3163;
      font-size: 14px;
      font-family: poppins;
      font-weight: normal;
      padding-left: 12px;
  }
  
  .loginInput:focus{
      outline: none;
  }
  .vroCode{
      text-align: right;
      font-family: 'Bukhari Script', sans-serif;
      font-size: 40px;
      font-weight: 500;
      position: relative;
      top: 0px;
    
  }
  .loginButton{
      height: 50px;
      border-radius: 50px;
      border: none;
      background-color: #1E3163;
      color: white;
      font-size: 20px;
      font-family: poppins;
      font-weight: 700;
      cursor: pointer;
      width: 18%;
      text-align: center;
  }
  
  .alreadyMember{
      text-align: center;
      color: #1E3163;
      font-family: poppins;
      font-weight: 500;
  }
  
  .SignUp{
      height: 50px;
      border-radius: 50px;
      border: none;
      background-color: #1E3163;
      color: white;
      font-size: 20px;
      font-family: poppins;
      font-weight: 700;
      cursor: pointer;
      width: 18%;
      text-align: center;
  }
  .input-text{
      font-size: 20px;
      font-family: poppins;
      font-weight: 600;
  }